In [1]:
# adapted based on https://www.tensorflow.org/tutorials/keras/regression
import matplotlib.pyplot as plt
import numpy as np
np.set_printoptions(precision=3, suppress=True)
import pandas as pd
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

2024-02-27 22:38:19.248261: I tensorflow/core/util/port.cc:111] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-02-27 22:38:19.292149: E tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:9342] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-02-27 22:38:19.292183: E tensorflow/compiler/xla/stream_executor/cuda/cuda_fft.cc:609] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-02-27 22:38:19.292209: E tensorflow/compiler/xla/stream_executor/cuda/cuda_blas.cc:1518] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-02-27 22:38:19.300432: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-02-27 22:38:20.724315: I itex/core/wrapper/itex_cpu_wrapper.cc:60] Intel Extension for Tensorflow* AVX512 CPU backend is loaded.
2024-02-27 22:38:20.816582: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:894] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-02-27 22:38:20.825299: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:894] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-02-27 22:38:20.828946: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:894] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355

In [2]:
raw_dataset = pd.read_csv('linear-relationship.csv')
print('Done')

Done

In [3]:
dataset = raw_dataset.copy()
dataset.tail()

         x      y
9995  9995  19995
9996  9996  19997
9997  9997  19999
9998  9998  20001
9999  9999  20003

In [4]:
train_ds = dataset.sample(frac=0.8, random_state=0)
test_ds = dataset.drop(train_ds.index)
train_ds.tail()
print('--')
test_ds.tail()

--

         x      y
9963  9963  19931
9969  9969  19943
9972  9972  19949
9982  9982  19969
9995  9995  19995

In [5]:
train_ds.describe().transpose()

    count        mean          std  min      25%      50%       75%      max
x  8000.0   5003.4595  2887.354272  1.0  2493.75   5006.5   7517.25   9999.0
y  8000.0  10011.9190  5774.708543  7.0  4992.50  10018.0  15039.50  20003.0

In [6]:
train_features = train_ds.copy()
test_features = test_ds.copy()

train_labels = train_features.pop('y')
test_labels = test_features.pop('y')

In [7]:
train_features.shape

(8000, 1)

In [8]:
train_features.ndim

2

In [9]:
tsr_train_features = tf.convert_to_tensor(train_features)
tsr_test_features = tf.convert_to_tensor(test_features)
tsr_train_labels = tf.convert_to_tensor(train_labels)

2024-02-27 22:38:21.084547: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:894] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-02-27 22:38:21.088754: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:894] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-02-27 22:38:21.092108: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:894] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-02-27 22:38:21.298771: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:894] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-02-27 22:38:21.300566: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:894] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-02-27 22:38:21.302276: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:894] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-02-27 22:38:21.303926: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1886] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 709 MB memory:  -> device: 0, name: Quadro RTX 4000, pci bus id: 0000:13:00.0, compute capability: 7.5

In [10]:
tsr_train_features.shape

TensorShape([8000, 1])

In [11]:
a_model = tf.keras.Sequential([
    layers.Dense(units=1)
])

In [12]:
a_model.compile(optimizer=tf.keras.optimizers.Adam(), loss='mean_absolute_error')

print('Done')

Done

In [13]:
%%time
history = a_model.fit(
    tsr_train_features,
    tsr_train_labels,
    epochs=40,
    validation_split=0.2)

Epoch 1/40

2024-02-27 22:38:21.612709: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type CPU is enabled.
2024-02-27 22:38:22.015791: I tensorflow/tsl/platform/default/subprocess.cc:304] Start cannot spawn child process: No such file or directory
2024-02-27 22:38:22.088891: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x7f4cbcf34f50 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
2024-02-27 22:38:22.088933: I tensorflow/compiler/xla/service/service.cc:176]   StreamExecutor device (0): Quadro RTX 4000, Compute Capability 7.5
2024-02-27 22:38:22.095455: I tensorflow/compiler/mlir/tensorflow/utils/dump_mlir_util.cc:269] disabling MLIR crash reproducer, set env var `MLIR_CRASH_REPRODUCER_DIRECTORY` to enable.
2024-02-27 22:38:22.117980: I tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:442] Loaded cuDNN version 8700
2024-02-27 22:38:22.210501: I ./tensorflow/compiler/jit/device_compiler.h:186] Compiled cluster using XLA!  This line is logged at most once for the lifetime of the process.

200/200 [==============================] - 1s 3ms/step - loss: 17932.3809 - val_loss: 17022.8633
Epoch 2/40
200/200 [==============================] - 0s 2ms/step - loss: 16931.9688 - val_loss: 16044.7549
Epoch 3/40
200/200 [==============================] - 0s 2ms/step - loss: 15931.2598 - val_loss: 15068.0996
Epoch 4/40
200/200 [==============================] - 0s 2ms/step - loss: 14930.6885 - val_loss: 14090.3389
Epoch 5/40
200/200 [==============================] - 0s 2ms/step - loss: 13929.9229 - val_loss: 13113.6035
Epoch 6/40
200/200 [==============================] - 0s 2ms/step - loss: 12929.5137 - val_loss: 12135.3691
Epoch 7/40
200/200 [==============================] - 0s 2ms/step - loss: 11929.1055 - val_loss: 11158.4189
Epoch 8/40
200/200 [==============================] - 0s 2ms/step - loss: 10928.8623 - val_loss: 10180.9648
Epoch 9/40
200/200 [==============================] - 0s 2ms/step - loss: 9928.1943 - val_loss: 9204.1719
Epoch 10/40
200/200 [==============================] - 0s 2ms/step - loss: 8926.9932 - val_loss: 8228.2080
Epoch 11/40
200/200 [==============================] - 0s 2ms/step - loss: 7926.9463 - val_loss: 7249.5933
Epoch 12/40
200/200 [==============================] - 0s 2ms/step - loss: 6926.8999 - val_loss: 6275.1543
Epoch 13/40
200/200 [==============================] - 0s 2ms/step - loss: 5926.4751 - val_loss: 5296.4307
Epoch 14/40
200/200 [==============================] - 0s 2ms/step - loss: 4925.4849 - val_loss: 4319.8198
Epoch 15/40
200/200 [==============================] - 0s 2ms/step - loss: 3925.2368 - val_loss: 3341.9033
Epoch 16/40
200/200 [==============================] - 0s 2ms/step - loss: 2924.5237 - val_loss: 2365.9502
Epoch 17/40
200/200 [==============================] - 0s 2ms/step - loss: 1923.2883 - val_loss: 1388.4792
Epoch 18/40
200/200 [==============================] - 0s 2ms/step - loss: 922.9228 - val_loss: 409.8420
Epoch 19/40
200/200 [==============================] - 0s 2ms/step - loss: 90.3968 - val_loss: 0.5899
Epoch 20/40
200/200 [==============================] - 0s 2ms/step - loss: 0.5654 - val_loss: 0.5812
Epoch 21/40
200/200 [==============================] - 0s 2ms/step - loss: 0.5997 - val_loss: 0.8251
Epoch 22/40
200/200 [==============================] - 0s 2ms/step - loss: 0.6032 - val_loss: 0.5281
Epoch 23/40
200/200 [==============================] - 0s 2ms/step - loss: 0.5196 - val_loss: 0.5281
Epoch 24/40
200/200 [==============================] - 0s 2ms/step - loss: 0.5162 - val_loss: 0.3803
Epoch 25/40
200/200 [==============================] - 0s 2ms/step - loss: 0.5848 - val_loss: 0.3606
Epoch 26/40
200/200 [==============================] - 0s 2ms/step - loss: 0.5113 - val_loss: 0.3165
Epoch 27/40
200/200 [==============================] - 0s 2ms/step - loss: 0.4334 - val_loss: 0.2916
Epoch 28/40
200/200 [==============================] - 0s 2ms/step - loss: 0.5187 - val_loss: 0.2692
Epoch 29/40
200/200 [==============================] - 0s 2ms/step - loss: 0.6087 - val_loss: 0.2056
Epoch 30/40
200/200 [==============================] - 0s 2ms/step - loss: 0.7727 - val_loss: 0.5191
Epoch 31/40
200/200 [==============================] - 0s 2ms/step - loss: 0.5216 - val_loss: 0.5458
Epoch 32/40
200/200 [==============================] - 0s 2ms/step - loss: 0.5369 - val_loss: 0.3295
Epoch 33/40
200/200 [==============================] - 0s 2ms/step - loss: 0.5185 - val_loss: 0.4480
Epoch 34/40
200/200 [==============================] - 0s 2ms/step - loss: 0.4533 - val_loss: 0.9349
Epoch 35/40
200/200 [==============================] - 0s 2ms/step - loss: 0.5522 - val_loss: 1.3602
Epoch 36/40
200/200 [==============================] - 0s 2ms/step - loss: 0.5201 - val_loss: 1.1122
Epoch 37/40
200/200 [==============================] - 0s 2ms/step - loss: 0.5558 - val_loss: 0.6080
Epoch 38/40
200/200 [==============================] - 0s 2ms/step - loss: 0.6297 - val_loss: 1.4201
Epoch 39/40
200/200 [==============================] - 0s 2ms/step - loss: 0.5152 - val_loss: 1.0463
Epoch 40/40
200/200 [==============================] - 0s 2ms/step - loss: 0.6457 - val_loss: 2.5422
CPU times: user 16.8 s, sys: 1.29 s, total: 18.1 s
Wall time: 15.5 s

In [14]:
a1 = [[11000]]
b1 = a_model.predict(a1)

1/1 [==============================] - 0s 91ms/step

In [15]:
b1

array([[21999.361]], dtype=float32)

# based on equation y = x*2 + 5, the expected value is 22005, and predicted value of 21999.361 is PRETTY close.